<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>

    <div class="card">

        <h1>All Games</h1>

        <p class="text-muted">
            Manage all games currently registered in the system.
        </p>

        <div class="mt-2 mb-2">
            <a class="btn" th:href="@{/games/new}">
                Add Game
            </a>
        </div>

        <table>

            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Platform</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="game : ${games}">

                <td th:text="${game.gameID}"></td>

                <td th:text="${game.gameTitle}"></td>

                <td th:text="${game.gameGenre}"></td>

                <td th:text="${game.releaseDate}"></td>

                <td th:text="${game.platform}"></td>

                <td>
                    <a class="btn"
                       th:href="@{/games/{id}(id=${game.gameID})}">
                        View
                    </a>

                    <a class="btn btn-secondary"
                       th:href="@{/games/{id}/edit(id=${game.gameID})}">
                        Edit
                    </a>

                    <form th:action="@{/games/{id}/delete(id=${game.gameID})}"
                          method="post"
                          style="display:inline;">

                        <button type="submit">
                            Delete
                        </button>

                    </form>
                </td>

            </tr>

            </tbody>

        </table>

    </div>

</main>
<footer>
    &copy; 2026 Game Management Dashboard
</footer>

</body>
</html>